/* Mobile & tablet */
@media (max-width: 1023px) {
    .header__mobile--logo > img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .container__product {
        margin-right: -100px;
        margin-left: -100px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header-top {
        display: none;
    }
    .header-menu {
        display: none;
    }
    .search-box {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        padding: 16px 0;
        z-index: 3;
        display: none;
        animation: boxSearchOpacity linear 0.2s;
    }

    .mobile-menu {

    }
    .header__mobile {
        display: flex;
        background-color: white;
    }
    .input__search--mobile {
        background-color: white;
    }

    .header__search--mobile {
        display: block;
    }
    /* //category */
    .category-item {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .header-top {
        display: none;
    }
    .header-menu {
        display: none;
    }

    .search-box {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        padding: 16px 0;
        z-index: 3;
        display: none;
        animation: boxSearchOpacity linear 0.2s;
    }

    .header__mobile {
        display: flex;
        background-color: white;
    }
    .input__search--mobile {
        background-color: white;
    }

    .header__search--mobile {
        display: block;
        background-color: white;
    }
    .category-item {
        display: flex;
        flex-wrap: wrap;
    }
    .fpt-bn-bottom {
        width: 100%;
    }
    .footer-app {
        text-align: center;
        margin: 0 12px;
    }
}